/*handy*/
body {
  /*background-color: #C1CAD6;*/
  background: url(../img/city.jpg);
}

header {
  height: 150px;
  /*background: url(../img/city.jpg);*/
  text-align: center;
  font-family: impact, arial, sans-serif;
  font-size: 30px;
  border: 5px solid black;
  border-radius: 5px;
  padding: 8px 8px;

}

main h1 {
  font-family: sans-serif;
  font-weight: lighter;
}



main, contact {
  font-family: serif;
  width: 50%

}

.widget {
  /*float: right;*/

}

p {
  padding: 0;
}
